body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgb(247, 195, 204);
  color: black;
  text-align: center;
  justify-content: space-between;
  padding: 15px;
  z-index: 1000;
  display: flex;
}
h1{
  color: #333232;
}
nav{
  justify-content: center;
  margin: auto;
}

header nav a {
  color: black;
  margin: 0 15px;
  text-decoration: none;
  font-size: large;
  justify-content: center;
  justify-content: flex-start;

}
.search{
  display: flex;
  margin-right: 100px;
  justify-content: flex-end;

}
.search input{
  padding: 2px 5px 2px 10px;
  width: 250px;
  height: 25px;
  justify-content: center;
  border-radius:10px;
  border: solid rgb(44, 42, 42) 1px;

}
.search button{
  margin-left: 10px;
  background-color: rgb(46, 39, 39);
  color: white;
  width: 50px;
  height: 28px;
  border-radius:10px;
}

main {
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
}

section {
  flex: 3;
  padding: 10px;
  height: 100vh;
}

aside {
  flex: 1;
  padding: 20px;
  height: 100vh;
}

aside .info {
  top: 20px;
  background-color: #fff;
  border: 1px solid grey;
  padding: 10px;
  overflow-y: auto;
  border-radius: 5px;
  height: 100vh;
}

.person {
  margin-bottom: 15px;
  padding: 10px;
  border: 1.5px solid pink;
  background-color: #fff;
  border-radius: 3px;
}


.person h3 {
  margin: 0;
  font-size: 1.1em;
  color: #333;
}

.person p {
  margin: 5px 0 0;
  font-size: 0.9em;
  color: #666;
}

.dummy-content {
height: 100vh;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgb(243, 201, 208);
  color: black;
  text-align: center;
  padding: 10px;
  z-index: 1000;
}
